<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Celulares</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <header>
        <h1>Itienda Col</h1>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1 style="text-align: center;">INFORMACIÓN GENERAL DE LA EMPRESA</h1>
        <h2> Nombre: ITienda Col</h2>
        <h2> Ubicación: Cali - Colombia</h2>
        <h2> Gerente General: Juan Camilo Peña Erazo </h2>
        <h2> Contacto: <a href="https://www.linkedin.com/in/juan-camilo-pe%C3%B1a-erazo-06ba36187/">linkedin</a> </h2> 
    </main>

    <footer>
        <p>&copy; 2024 Itienda</p>
    </footer>
</body>
</html>