<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Celulares - Productos</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <header>
        <h1>Itienda Col</h1>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./productos.html">Productos</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Aquí puede ver una lista de nuestros productos:</h1>
        <ul>
            {% for producto in productos %}
            <li>
                <h2>{{ producto[3] }}</h2>
                <p>Categoría: {{ producto[1] }}</p>
                <p>Marca: {{ producto[2] }}</p>
                <p>Descripción: {{ producto[4] }}</p>
                <p>Precio: ${{ producto[5] }}</p>
            </li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Itienda</p>
    </footer>
</body>
</html>
